TELEGRAM_TOKEN=6692975026:AAGSJJtkFNS2oc0w8P7jyxjFYTB7Nta973M
BASE_NAME=habits
BASE_USER=postgres
BASE_PASSWORD=postgres
HOST=127.0.0.1
PORT=5432
CELERY_BROKER_URL=redis://127.0.0.1:6379
CELERY_RESULT_BACKEND=redis://127.0.0.1:6379пше